 body {
     font-family: 'Montserrat', sans-serif;
     background-color: #232323;
     color: #ececec;
 }
 
 .card {
     background-color: #404040;
     background: #404040;
     color: #ececec;
 }